<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="FileBox">
	<resultMap id="fileBox" type="Map">
		<id property="fileNo" column="FILE_NO"/>
	</resultMap>

	<resultMap id="fileResultSet" type="Map">
		<id property="fileNo" column="FILE_NO"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="chgngeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="uploadTime" column="UPLOAD_TIME"/>
		<result property="fileSize" column="FILE_SIZE"/>
		<result property="fileRole" column="FILE_ROLE"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="apvNo" column="APV_NO"/>
		<result property="chatNo" column="CHAT_NO"/>
		<result property="mno" column="MNO"/>
		<result property="noticeNo" column="NOTICE_NO"/>
		<result property="pno" column="PNO"/>
		<result property="pNoticeNo" column="PNOTICE_NO"/>
		<result property="stgNo" column="STG_NO"/>
		<result property="corp_no" column="CORP_NO"/>
		<result property="ext" column="EXT"/>
	</resultMap>

	<!-- 파일 업로드 -->
	<update id="uploadFiles" parameterType="java.util.ArrayList">
		INSERT ALL
		<foreach collection="list" item="item">
		INTO ATTACHMENTS VALUES(
			get_seq_fileNo,
			#{item.originName},
			#{item.changeName},
			#{item.filePath},
			TO_CHAR(SYSDATE, 'YYYY/MM/DD'),
			TO_CHAR (SYSDATE, 'HH24:MI:SS'),
			#{item.fileSize},
			#{item.fileRole},
			'STG',
			#{item.mno},
			null,
			null,
			null,
			null,
			null,
			null,
			#{item.corp_no},
			#{item.ext},
			'Y') 
		</foreach>
		SELECT * FROM DUAL
    </update>
	
	<!-- 페이징을 위한 리스트 갯수 셀렉트 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM ATTACHMENTS
		WHERE FILE_ROLE = '999'
	</select>
	
	<!-- 파일 리스트로 셀렉트 -->
	<select id="selectFileList" resultMap="fileResultSet">
		SELECT 
			FILE_NO,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH,
			UPLOAD_DATE,
			UPLOAD_TIME,
			FILE_SIZE,
			FILE_ROLE,
			FILE_TYPE,
			APV_NO,
			CHAT_NO,
			MNO,
			NOTICE_NO,
			PNO,
			PNOTICE_NO,
			STG_NO,
			CORP_NO,
			EXT
		FROM ATTACHMENTS
		WHERE F_STATUS = 'Y'
		<if test="fileType != null">
		   AND FILE_TYPE = #{fileType}
		 </if>
		ORDER BY FILE_NO DESC
		
	</select>

	<!-- 파일 리스트로 셀렉트 -->
	<select id="deleteFileList" resultType="_int">
		DELETE 
		FROM ATTACHMENTS
		WHERE FILE_NO = #{fileNo);
	</select>
	
	<select id="selectOneFile" resultMap="fileBox">
   		SELECT * FROM ATTACHMENTS WHERE FILE_NO = #{fileNo}
   </select>
   
   <update id="deleteFile">
   		UPDATE ATTACHMENTS 
   		SET F_STATUS='N' 
   		WHERE FILE_NO = ${fileNo}
   </update>

</mapper>















