<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<resultMap type="com.kh.itworks.member.model.vo.Member" id="memberResultSet">
		<id property="mno" column="MNO"/>
		<result property="eid" column="EID"/>
		<result property="epwd" column="EPWD"/>
		<result property="corpNo" column="CORP_NO"/>
		<result property="rid" column="RID"/>
		<result property="jid" column="JID"/>
		<result property="did" column="DID"/>
		<result property="ename" column="ENAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="birthday" column="BIRTHDAY"/>
		<result property="eno" column="ENO"/>
		<result property="hireDate" column="HIREDATE"/>
		<result property="resignationDate" column="RESIGNATIONDATE"/>
		<result property="status" column="STATUS"/>
		<result property="approval" column="APPROVAL"/>
		<result property="internalPhone" column="INTERNAL_PHONE"/>
		<result property="dname" column="DNAME"/>
		<result property="jname" column="JNAME"/>
	</resultMap>
	<select id="loginCheck" resultMap="memberResultSet" parameterType="Member">
		SELECT D.DNAME, J.JNAME, E.*
  		  FROM EMPLOYEE E
 		  JOIN DEPT D ON(E.DID = D.DID)
  		  JOIN JOB J ON(E.JID = J.JID)
		 WHERE E.EID = #{eid}
		   AND E.EPWD = #{epwd}
		   AND E.CORP_NO = #{corpNo}
	</select>
	<!-- status가 Y,N 둘 다 중복체크 할 수 있음 -->
	<select id="duplicationCheck" resultMap="memberResultSet" parameterType="java.lang.String">
		SELECT *
		  FROM EMPLOYEE
		 WHERE EID = #{userId}  		  

	</select>
	<insert id="insertMember" parameterType="Member">
		INSERT INTO EMPLOYEE
		VALUES (#{ename}, #{epwd}, #{phone}, #{email}, #{address},
				#{birthday}, #{eno}, TO_CHAR(SYSDATE, 'YYYY/MM/DD'), NULL, DEFAULT,
				DEFAULT, NULL, SEQ_MEMBER_NO.NEXTVAL, 999, 999,
				999, #{eid}, #{corpNo})
				
	</insert>
	<select id="corpNoCheck" resultType="int" parameterType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM COMPANY
		 WHERE CORP_NO = #{corpNo}
	
	</select>
	
	
</mapper>