<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrgChart">
		<resultMap type="com.kh.itworks.member.model.vo.Member" id="memberResultSet">
		<id property="mno" column="MNO"/>
		<result property="eid" column="EID"/>
		<result property="epwd" column="EPWD"/>
		<result property="corpNo" column="CORP_NO"/>
		<result property="rId" column="RID"/>
		<result property="jId" column="JID"/>
		<result property="dId" column="DID"/>
		<result property="ename" column="ENAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="birthday" column="BIRTHDAY"/>
		<result property="eno" column="ENO"/>
		<result property="hireDate" column="HIREDATE"/>
		<result property="resignationDate" column="RESIGNATIONDATE"/>
		<result property="status" column="STATUS"/>
		<result property="approval" column="APPROVAL"/>
		<result property="internalPhone" column="INTERNAL_PHONE"/>
	</resultMap>
	
		<resultMap type="Company" id="companyResultMap">
		<id property="corpName" column="CORP_NAME"/>
		<result property="corpAddress" column="CORP_ADDRESS"/>
		<result property="corpRepName" column="CORP_REP_NAME"/>
		<result property="corpRegistNo" column="CORP_REGIST_NO"/>
		<result property="corpType" column="CORP_TYPE"/>
		<result property="corpEmail" column="CORP_EMAIL"/>
		<result property="corpFax" column="CORP_FAX"/>
		<result property="corpNo" column="CORP_NO"/>
	</resultMap>

	<resultMap type="OrgChart" id="orgResultSet">
		<id property="dId" column="DID"/>
		<result property="deptNo" column="DEPT_NO"/>
		<result property="dName" column="DNAME"/>
		<result property="dLevel" column="DLEVEL"/>
		<result property="corpNo" column="CORP_NO"/>
		<collection property="member" resultMap="memberResultSet"/>
		<collection property="company" resultMap="companyResultMap"/>
	</resultMap>
	
	<select id="selectOrg" resultMap="orgResultSet">
		SELECT DEPT_NO, DNAME, DLEVEL, CORP_NO, DID
          FROM DEPT
         WHERE CORP_NO = 1
	</select>
	
	<select id="selectAdminOrg" resultMap="orgResultSet">
		SELECT *
 		 FROM DEPT D
 		 JOIN COMPANY C ON (C.CORP_NO = D.CORP_NO)
  		 JOIN EMPLOYEE E ON (D.DID = E.DID)
	    WHERE C.CORP_NO = 1
	</select>
	
	<insert id="insertDept">
		INSERT INTO DEPT
		VALUES ('999',#{deptName},#{level},1,SEQ_DEPT_ID.NEXTVAL)
	</insert>

</mapper>